<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="landscapePage pb-8 rounded-lg border p-5 margin-bt bg1 " th:fragment="pec">
    <div class="p-5 rounded-lg margin-bt bg3">
        <h1 class="text-xl font-bold text-center margin-bt" id="pec">Prises en charge</h1>
        <table class="bg2" id="table_pec">
            <thead class="">
            <tr>
                <th>Code</th>
                <th>Libelle</th>
                <th>Date de Début</th>
                <th>Date de Fin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="decision : ${ficheEntry.decisionsList}" th:style="${decision.dateFin.after(#dates.createNow())} ? 'background: #DAF7A6'">
                <td th:text="${decision.code}"></td>
                <td th:text="${decision.libelle}"></td>
                <td th:text="${#dates.format(decision.dabebut,'dd-MM-yyyy')}"></td>
                <td th:text="${#dates.format(decision.dateFin,'dd-MM-yyyy')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="p-5 rounded-lg w-2/6 margin-bt bg3">
            <h2 class="font-medium">
                Nombre de PEC :
                <td th:text="${#lists.size(ficheEntry.decisionsList)}">[Engine Size]</td>
            </h2>
        </div>
    </div>
</div>
