<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scolarite">
    <div class="pb-8 rounded-lg border p-5 margin-bt bg2">
        <div class="pb-2">
            <h1 class="text-xl font-bold text-center" id="scolarite">Scolarité</h1>
        </div>
        <form>
            <select id="is_scolarise" name="scolarite">
                <option th:selected="${ficheEntry.mineur.scolarise}" value="true">Scolarisé</option>
                <option th:selected="${!ficheEntry.mineur.scolarise}" value="false">Non scolarisé</option>
            </select>
        </form>

        <h2 class="text-l font-bold text-center">Cycle Scolaire</h2>
        <div style="width: 100%;margin: 0 auto;text-align: center;">
        <table class="bg2 table" id="suivi_scolaire" align="center" >
            <form>
            <tbody class="text-center">
                <tr>
                    <td><input type="checkbox" id="cm_un" name="cm_un" style="-fs-checkbox-style: square;"
                               checked="true"/>
                        <label for="cm_un">CM1</label>
                    </td>
                    <td><input type="checkbox" id="cm_deux" name="cm_deux" style="-fs-checkbox-style: square;"
                                checked="true"/>
                        <label for="cm_deux">CM2</label>
                    </td>
                    <td> <input type="checkbox" id="sixieme" name="sixieme" style="-fs-checkbox-style: square;"
                                checked="true"/>
                        <label for="sixieme">6eme</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="cinquieme" name="cinquieme" style="-fs-checkbox-style: square;"
                               checked="true"/>
                        <label for="cinquieme">5eme</label>
                    </td>
                    <td> <input type="checkbox" id="quatrieme" name="quatrieme" style="-fs-checkbox-style: square;"
                                checked="true"/>
                        <label for="quatrieme">4eme</label>
                    </td>
                    <td><input type="checkbox" id="troisieme" name="troisieme" style="-fs-checkbox-style: square;"
                               checked="true"/>
                        <label for="troisieme">3eme</label>
                    </td>
                </tr>
                <tr>
                    <td>  <input type="checkbox" id="seconde" name="seconde" style="-fs-checkbox-style: square;"
                                 checked="true"/>
                        <label for="seconde">2nd</label>
                    </td>
                    <td> <input type="checkbox" id="premiere" name="premiere" style="-fs-checkbox-style: square;"
                                checked="true"/>
                        <label for="premiere">1ere</label>
                    </td>
                    <td><input type="checkbox" id="terminale" name="terminale" style="-fs-checkbox-style: square;"
                               checked="true"/>
                        <label for="terminale">Terminale</label>
                    </td>
                </tr>
            </tbody>
            </form>
        </table>
        </div>
    </div>
</div>